body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

#container{
	margin-left:150px;
	margin-right:150px;
	width:550;
	border: solid 5px red;
	border-radius: 5px;
}

#header_pic{
	width: 100%;
}

#heading{
	text-align: center;
	text-shadow: 5px;
}

#main{
	background-color: navy;
	height: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#left{
	border: solid 1px navy;
	background-color: gray;
	width: 40%;
	display: inline-block;
	float: left;
	height: 290px;
	border-radius: 2px;
}

#right{
	border: ridge 2px navy;
	float: left;
	width: 40%;
	margin-left: 120px;
	border-radius: 2px;
}

#right_img{
	height: 290px;
	width: 100%;
}

#footer{
	text-align: center;
	height: 40px;
	background-color: red;
}

#footer li{
	display: inline;
	text-decoration-line: underline;
}

form{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #D3D3D3;
	border-radius: 2px;
}

#menu{
	background-color: red;
	height: 35px;
	padding-top: 10px;
	text-align: center;
}

a{
	font-size:20px;
	border:3px ridge #D3D3D3;
	text-decoration: none;
	padding: 5px;
	margin-top:5px;
	background-color: lightgray;
	color: red;
}

iframe{
	background-color: silver;
	border: solid 2px whitesmoke;
}